/* Things to consider for today's sprint:
- tags (h1, p, html, ol, ul, li)
- classes (font, change colour of text, add a background)
- id (probs not at this point though)*/

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    background-color: #FDFBEE;
}

* {
    padding: 1rem
}

html {
    font-family:"Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
h1, h2, h3 {
    color: #015551;
}
/* To apply styles to ALL sections:

        section {
            background-color: TBD;
        }
*/

/* To use class selectors to apply styles to MULTIPLE sections

.endpoints { 
    background-color: paleturquoise;
}
*/

/* To use id selectors to apply styles to ONE section 

#your-specified id section {
    background-color: TBD,
}
*/
/* you can change the styling of a section based on behaviour - e.g. changing the colour of a button when it's hovered over
button {
    background-color: coral;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
}
 
button:hover {
    background-color: cornflowerblue;
}
*/

/*explore layouts beyond the box model/ inline vs block:
- flexbox - allows you to achieve 2d layouts
- grid - allows you to achieve 3d layouts 
*/